body{
padding-left:50px;
padding-right:50px;

}
h1{
    margin-top: 25px;
}
nav{
    margin-bottom: 25px;
}
h2{
    text-align: end;
    color: grey;
}
.dropdown{
    margin-top: 25px;
}
.d-flex{
    margin-bottom: 5px;
}
